{% extends 'base.html' %} {% block content %}
<h2 class="content__name">Product List</h2>
<p class="content_description">This is a product list</p>
<div class="products__container">
  <ul class="products__list">
    {% for product in products %}
    <li>
      <a href="{% url 'products:product_details' pk=product.pk %}">
        <img src="{{product.image.url}}" alt="img" width="200" height="200" />
        <p><strong>{{product.title}}</strong></p>
        <p>Price: {{product.price}}</p>
        <p>Amount: {{product.amount}}</p>
      </a>
        <button id="plus">+</button>
        <button id="minus">-</button>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}
