{% extends 'base.html' %} {% block content %}
<form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <br />
  <br />
  <label for="name">Name:</label>
  <input type="text" value="{{account.name}}" name="name" />

  <br />
  <br />

  <label for="phone_number">Number:</label>
  <input type="text" value="{{account.phone_number}}" name="phone_number" />

  <br />
  <br />

  <label for="address">Address:</label>
  <input type="text" value="{{account.address}}" name="address" />

  <br />
  <br />

  {% comment %} <label for="account">Account:</label>
  <select name="account">
    {% for account in accounts %}
    <option value="{{acount.name}}"></option>
    {% endfor %}
  </select>
  <br />
  <br />
  {% endcomment %}

  <button type="submit">Save</button>
</form>
{% endblock content %}
